<div class="backgroundVideo">
    	<video loop muted autoplay class="back-video">
        	<source src="/video/library.mp4" type="video/mp4">
    	</video>
	</div>
	<div class="centered login">
		<div class="logo">
			<a href="/" class="logoA">
				<img src="/images/logo.png" class="">
			</a>
		</div>
		<div class="rega">
			<div id="login" class="col s6 offset-s3">
         {{#if loginError}}
            <p class="alert">{{loginError}}</p>
         {{/if}}
         <form action="/auth/login" method="POST">
            <div class="input-field">
               <input
                  id="l-email"
                  name="email"
                  type="email"
                  class="validate"
                  required
                  value="{{loginData.email}}"
               />
               <label for="l-email">Email</label>
               <span class="helper-text" data-error="Введите email"></span>
            </div>
            <div class="input-field">
               <input
                  id="l-password"
                  name="password"
                  type="password"
                  class="validate"
                  required
               />
               <label for="l-password">Пароль</label>
               <button type="button" class="btn btn-show-pass"><i
                     class="fa fa-eye"
                     aria-hidden="true"
                  ></i></button>
               <span class="helper-text" data-error="Введите пароль"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csurf}}" />

            <button type="submit" class="btn">Войти</button>

            <p><a href="/auth/reset">Забыли пароль</a></p>

				<a href="/auth/registration">
					Регистрация
				</a>
         </form>
      </div>
		</div>
	</div>



