        <form action="/add" method="POST" enctype="multipart/form-data"> 
            <div class="input-field">
               <input
                  id="title"
                  name="title"
                  type="text"
                  class="validate"
                  required
               />
               <label for="title">Название</label>
               <span class="helper-text" data-error="Название"></span>
            </div>

            <div class="input-field">
               <input
                  id="author"
                  name="author"
                  type="text"
                  class="validate"
                  required
               />
               <label for="author">Автор</label>
               <span class="helper-text" data-error="Автор"></span>
            </div>

            <div class="input-field">
               <input
                  id="genre"
                  name="genre"
                  type="text"
                  class="validate"
                  required
               />
               <label for="genre">Жанр</label>
               <span class="helper-text" data-error="Жанр"></span>
            </div>

            <div class="input-field">
               <input
                  id="year"
                  name="year"
                  type="text"
                  class="validate"
                required
               />
               <label for="year">Год издания</label>
               <span class="helper-text" data-error="Год издания"></span>
            </div>

            <div class="input-field">
               <input
                  id="publisher"
                  name="publisher"
                  type="text"
                  class="validate"
                  required
               />
               <label for="publisher">Издательство</label>
               <span class="helper-text" data-error="Издательство"></span>
            </div>

            <div class="input-field col s12">
               <textarea
                  id="about"
                  name="about"
                  class="materialize-textarea"
                  required
               ></textarea>
               <label for="about">Описание</label>

               <span
                  class="helper-text"
                  data-error="Введите содержание отрывка"
               ></span>
            </div>

            <div class="input-field">
               <input
                  id="url"
                  name="url"
                  type="text"
                  class="validate"
               />
               <label for="url">URL</label>
               <span class="helper-text" data-error="URL"></span>
            </div>

            <div class="file-field input-field">
            <div class="btn">
               <span>Добавить превью</span>
               <input type="file" name="preview">
               <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </div>
            
            <div class="file-path-wrapper">
               <input class="file-path validate" type="text">
            </div>
         </div>

            <div class="input-field">
               <input
                  id="inAvailable"
                  name="inAvailable"
                  type="number"
                  class="validate"
                  required
               />
               <label for="inAvailable">Количество</label>
               <span class="helper-text" data-error="Количество"></span>
            </div>


            <button type="submit" class="btn">Добавить</button>
         </form>